<%= render "shared/navbar"%>
<%= render "shared/flash" %>

<h2>Update Profile</h2>

<%= form_with model: @profile do |f| %>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio, autocomplete: "bio" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
