<%= render "shared/flash" %>

<div class="box">
  <h1 class="title">Add Friend:</h1>
  <ul>
    <% @except_current_user.each do |user| %>
      <%= user.email %>

      <%= form_with model: @friend_request do |f| %>
        <%= f.hidden_field :reciever_id, value: user.id %>
        <%= f.submit "ADD" %>
      <% end %>
    <% end %>
  </ul>
</div>

<%= link_to "home", root_path %>