<%= render "shared/navbar", {notifs: current_user.recieved_friend_requests } %>
<%= render 'shared/flash' %>

<div class="container has-text-centered mt-6">
  <h1 class='title'>Add New Friend</h1>
  
  <% @filtered_users.each do |user| %>
      <div class="container is-flex is-justify-content-center my-2 level">
        <%= render "shared/profile_pic", {user: user, size: 'is-48x48'} %>
        <%= link_to user.name, user_path(user.id), class: "mx-2" %>
        
        <% if current_user.request_from?(user) %>
          <%= render 'shared/accept_reject_req', user: user %>
        <% else %>
          <%= render 'shared/create_del_req', user: user %>
        <% end %>
        
      </div>
  <% end %>
</div>
