<%= render "shared/navbar"%>
<%= render "shared/flash" %>

<div class="container">
  <div class="box">
    <div class="container">

      <%= render "shared/profile_pic", {user: @user, size: 'is-128x128'} %>

      <h2 class="title is-size-5"><%= @user.name %></h2>
      <% if defined?(@user.profile.bio) %>
        <p><%= @user.profile.bio %></p>
      <% end %>

      <% if current_user.profile.nil? && current_user == @user %>
          <%= link_to "Add Bio", new_profile_path %>
      <% elsif current_user == @user %>
          <%= link_to "Edit bio", edit_profile_path %>        
      <% end %>
    </div>
  </div>

  <%= render "shared/post_form", model: @post %>

  <div class="box">
    <h2 class="title is-size-5">Posts:</h2>
    <% @user.posts.each do |post| %>
      <%= render "shared/full_post", {current_user: current_user, post: post} %>
    <% end %>
  </div>

  <div class="box">
    <h2 class="title is-size-5">Friends:</h2>
    <% @user.friends.each do |friend| %>
      <li><%= link_to friend.name, user_path(friend.id) %></li>
    <% end %>
  </div>  
</div>