<%= render "shared/navbar", {notifs: current_user.recieved_friend_requests } %>
<%= render "shared/flash" %>

<div class="container">
  <div class="container level columns is-centered mt-6">
    <div class="column has-text-centered">
      <%= render "shared/profile_pic", {user: @user, size: 'is-128x128'} %>

      <h2 class="title is-size-5 mt-1"><%= @user.name %></h2>
      <% if defined?(@user.profile.bio) %>
        <p><%= @user.profile.bio %></p>
      <% end %>

      <%= render "shared/edit_prof", {user: @user} %>
    </div>

    <%= render "about_me", user: @user %>
  </div>

  <div class="container">
    <div class="container has-text-centered my-6">
      <h2 class="title is-size-3">Posts:</h2>
    </div>
    <% @user.posts.each do |post| %>
      <%= render "shared/full_post", {current_user: current_user, post: post} %>
    <% end %>
  </div>

  <div class="box">
    <h2 class="title is-size-5">Friends:</h2>
    <ul>
      <% @user.friends.each do |friend| %>
        <div class="container is-flex">
          <li><%= render "shared/profile_pic", {user: friend, size: 'is-48x48'} %></li>
          <li><%= link_to friend.name, user_path(friend.id) %></li>
        </div>
      <% end %>
    </ul>
  </div>  
</div>