<article class="media">
  <figure class="media-left">
    <%= render "shared/profile_pic", {user: comment.user, size: "is-48x48"} %>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= link_to comment.author_name, user_path(comment.author_id) %></strong>

        <%= turbo_frame_tag comment do %>
          <br>
            <%= comment.body %>
          <br>
          <small><%= render "shared/edit_delete_links", {comment: comment} %></small>
        <% end %>

      </p>
    </div>
  </div>
</article>
