<article class="media box">

  <figure class="media-left">
    <%= render "shared/profile_pic", {user: post.user, size: "is-48x48"} %>
  </figure>

  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= link_to post.user.name, user_path(post.user.id) %></strong>

        <br><%= post.body %><br>

        <small>
            <%= render "shared/like_unlike", {post: post, current_user: current_user} %>
            <%= link_to "Comment", new_comment_path(post_id: post.id) %> · 
            <%= render "shared/delete_post_button", {current_user: current_user, post: post} %> ·
            <%= post.pretty_time %>
        </small>

      </p>
    </div>
    
    <% if post.has_likes? %>
      <article class="media">
        <%= post.display_likes %>
      </article>
    <% end %>

    <% post.comments.each do |comment| %>
      <article class="media">
        <figure class="media-left">
          <%= render "shared/profile_pic", {user: comment.user, size: "is-48x48"} %>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= link_to comment.user.name, user_path(comment.user.id) %></strong>
              <br>
                <%= comment.body %>
              <br>
              <small><%= render "shared/delete_comment_button", {comment: comment} %></small>
            </p>
          </div>
        </div>
      </article>
    <% end %>

  </div>

</article>
