<div class="navbar is-link">
  <div class="navbar-brand" style="height: 10vh;">
    <!-- <a class="navbar-item"><%= image_tag "logo.png", size: "300x300", class:'image' %></a> -->
    <div class="navbar-item">
       <h1 class="title has-text-white">RailsBook</h1>
    </div>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item"><%= link_to "Home", root_path, class: 'has-text-white' %></div>
      <div class="navbar-item"><%= link_to "Add Friends", users_path, class: 'has-text-white' %></div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <p>Profile</p>
        </a>

        <div class="navbar-dropdown">
          <ul>
            <li class='m-1'><%= link_to "View profile", user_path(current_user.id) %></li>
            <li class='m-1'><%= link_to "Settings", edit_user_registration_path %></li>
            <li class="m-1"><%= render "shared/add_edit_prof", {user: current_user} %></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <p>Notifications</p>
        </a>

        <div class="navbar-dropdown">

          <% if defined?(notifs) %>
            <% notifs.each do |notif| %>
              <a class="navbar-item">
                <p><%= notif.requester.email %></p>

                <%= button_to "Yes",
                              friendships_path, 
                              method: :post, 
                              params: { friendship: {friend_a_id: current_user.id, friend_b_id: notif.requester.id} } %>
                
                <%= button_to "No",
                              friend_request_path(0), 
                              method: :delete, 
                              params: {requester_id: notif.requester.id , reciever_id: current_user.id} %>

              </a>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="navbar-item"><%= button_to "Signout", destroy_user_session_path, class: "button is-danger", method: :delete, data: {turbo: false} %></div>
    </div>
  </div>
</div>