<div class="navbar is-link" data-controller="toggle">
  <div class="navbar-brand flex" style="height: 10vh;">
    <div class="navbar-item">
      <%= link_to "RailsBook", root_path, class: "has-text-white is-size-2 has-text-weight-bold" %>
    </div>

    <a data-action="toggle#hide_unhide" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navmenu" style='margin-top:1.5rem;'>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" data-toggle-target="source">
    <div class="navbar-start">
      <div class="navbar-item is-hidden-touch" ><%= link_to "Home", root_path, class: 'has-text-white' %></div>
      <div class="navbar-item is-hidden-touch"><%= link_to "Add Friends", users_path, class: 'has-text-white' %></div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-hidden-touch">
          <p>Profile</p>
        </a>

        <div class="navbar-dropdown ml-2 mr-2 is-hidden-touch">
          <ul>
            <li class='m-1'><%= link_to "View profile", user_path(current_user.id) %></li>
            <li class='m-1'><%= link_to "Settings", edit_user_registration_path %></li>
            <li class='m-1'><%= link_to "Add Friends", users_path %></li>
            <li class="m-1"><%= render "shared/edit_prof", {user: current_user} %></li>
          </ul>
        </div>

        <div class="navbar-dropdown ml-2 mr-2 is-hidden-desktop	">
          <ul class="is-flex is-flex-direction-row is-justify-content-space-around is-align-content-center">
            <li class='m-1'><%= link_to "View profile", user_path(current_user.id) %></li>
            <li class='m-1'><%= link_to "Settings", edit_user_registration_path %></li>
            <li class='m-1'><%= link_to "Add Friends", users_path %></li>
            <li class="m-1"><%= render "shared/edit_prof", {user: current_user} %></li>
            <li><%= button_to "Signout", destroy_user_session_path, class: "button is-danger is-small", method: :delete, data: {turbo: false} %></li> 
          </ul>
        </div>

      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-flex is-hidden-touch">
          <p>Friend Requests</p>
        </a>

        <div class="navbar-dropdown is-hidden-touch">
          
          <% if defined?(notifs) && notifs.empty? %>
            <a class="navbar-item is-hidden-touch">
              Nothing for now!
            </a>
          <% end %>
          
          <% if defined?(notifs) %>
            <% notifs.each do |notif| %>
                <div class="container is-flex level mx-2 p-1">
                  <%= link_to notif.display_name, user_path(notif.id) %>
                  <%= render 'shared/accept_reject_req', user: notif %>
                </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="navbar-item is-hidden-touch"><%= button_to "Signout", destroy_user_session_path, class: "button is-danger", method: :delete, data: {turbo: false} %></div>
    </div>
  </div>
</div>
