<div class="navbar is-link" data-controller="toggle">
  <div class="navbar-brand" style="height: 10vh;">
    <div class="navbar-item">
      <%= link_to "RailsBook", root_path, class: "has-text-white is-size-2 has-text-weight-bold" %>
    </div>

    <a data-action="toggle#hide_unhide" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navmenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" data-toggle-target="source">
    <div class="navbar-start">
      <div class="navbar-item"><%= link_to "Home", root_path, class: 'has-text-white' %></div>
      <div class="navbar-item"><%= link_to "Add Friends", users_path, class: 'has-text-white' %></div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <p>Profile</p>
        </a>

        <div class="navbar-dropdown">
          <ul>
            <li class='m-1'><%= link_to "View profile", user_path(current_user.id) %></li>
            <li class='m-1'><%= link_to "Settings", edit_user_registration_path %></li>
            <li class="m-1"><%= render "shared/edit_prof", {user: current_user} %></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <p>Friend Requests</p>
        </a>

        <div class="navbar-dropdown">
          
          <% if defined?(notifs) && notifs.empty? %>
            <a class="navbar-item">
              <p>Nothing for now!</p>
            </a>
          <% end %>
          
          <% if defined?(notifs) %>
            <% notifs.each do |notif| %>
                <div class="container is-flex level mx-2 p-1">
                  <%= link_to notif.display_name, user_path(notif.id) %>
                  <%= render 'shared/accept_reject_req', user: notif %>
                </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="navbar-item"><%= button_to "Signout", destroy_user_session_path, class: "button is-danger", method: :delete, data: {turbo: false} %></div>
    </div>
  </div>
</div>
