<%= button_to "Signout", destroy_user_session_path, method: :delete %>

<%= form_with model: @post, method: "post" do |f| %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li><%= post.body %></li>
  <% end %>
</ul>