<%= render "shared/navbar", notifs: @notifs %>
<%= render "shared/flash" %>


<%= form_with model: @post, method: "post" do |f| %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li><%= post.body %></li>
  <% end %>
</ul>