<%= render "shared/navbar", {notifs: @notifs} %>
<%= render "shared/flash" %>

<div class="container">  
  <%= render "shared/post_form", {model: @new_post} %>
  
  <% @posts.each do |post| %>
    <% if current_user.friends.include?(post.user) || post.user == current_user %>
      <%= render "shared/full_post", {post: post, comment: @comment} %>
    <% end %>
  <% end %>

  <% if @posts.empty? %>
    <p class="container has-text-centered is-size-4 py-6"><%= link_to "Add some friends", users_path %> to see posts! :(</p>
  <% end %>
</div>