<%= render "shared/navbar", notifs: @notifs %>
<%= render "shared/flash" %>
<h1>Title</h1>

<%= form_with model: @post, method: "post" do |f| %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <div class="box">
      <%= link_to post.user.name, user_path(post.user.id) %>

      <%= button_to "X", 
                  post_path(0),
                  method: :delete,
                  params: { post_id: post.id } %>
      <br>

      <%= post.body %>
      <br>
      
      <%= post.pretty_time %>
      <br>

      <%= post.display_likes %>
      <% unless post.users_who_like.include?(current_user) %>
        <%= button_to "Like", 
                    likes_path,
                    method: :post,
                    params: { like: {user_id: current_user.id, post_id: post.id} } %>
      <% else %>
        <%= button_to "Unlike", 
                    like_path(0),
                    method: :delete,
                    params: { like: {user_id: current_user.id, post_id: post.id} } %>
      <% end %>

      <%= link_to "Comment", new_comment_path(post_id: post.id) %>

      <% post.comments.each do |comment| %>
        <div class="box">
          <%= link_to comment.user.name, user_path(comment.user.id) %>
          <br>
          <%= comment.body %>

          <%= button_to "Delete", 
                      comment_path(0),
                      method: :delete,
                      params: { comment: {user_id: current_user.id, post_id: post.id} } %>
        </div>
      <% end %>
    </div>
  <% end %>
</ul>