<%= render "shared/navbar", notifs: @notifs %>
<%= render "shared/flash" %>
<h1>Title</h1>

<%= form_with model: @post, method: "post" do |f| %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <div class="box">
      <%= link_to post.user.name, user_path(post.user.id) %>
      <br>
      <%= post.body %>
      <br>
      <%= post.pretty_time %>
      <br>
      <%= button_to "Like", 
                  likes_path,
                  method: :post,
                  params: { like: {user_id: current_user.id, post_id: post.id} } %>

      <%= post.likes.count %> Likes
      <br>
      <% post.users_who_like.each do |user| %>
        <%= user.name %>
      <% end %>
    </div>
  <% end %>
</ul>